In [1]:
import pandas as pd

# Create Data File

The data source is https://console.cloud.google.com/marketplace/details/metabrainz/listenbrainz 

We pick the top top 300 most popular artists by number of listens. The data is available thanks to BigQuery's 1TB/mo of free tier processing.

The first step is we query the data set:

In [2]:
play_counts_df = pd.read_feather("play_counts_df.feather")

In [3]:
play_counts_df.head(10)

      user_name artist_name   cnt
0        munhoz   Daft Punk   663
1      enkadeze          U2   321
2          Kilu          U2    32
3  ioncewasacat         Air   551
4    toastpaint         Air   342
5     Boris_Neo         Air   190
6        jaffry         Air  1041
7    ars_mvsica         Air   931
8  I_am_walking         Air   158
9    Svarthjelm         Air    32

## group by user by pivot the table

The value is the number of listens for each user per artist:

In [4]:
play_counts_pivot_df = play_counts_df.pivot(index='user_name', columns='artist_name', values='cnt')
play_counts_pivot_df.head()

artist_name,30 Seconds to Mars,65daysofstatic,A Perfect Circle,A Tribe Called Quest,ABBA,AC/DC,Adele,Aerosmith,Air,Alanis Morissette,...,ZZ Top,alt-J,blink-182,deadmau5,久石譲,川井憲次,梶浦由記,植松伸夫,菅野よう子,近藤浩治
user_name,,,,,,,,,,,,,,,,,,,,,
-andor-,<NA>,46,<NA>,43,7,13,<NA>,4,71,<NA>,...,12,<NA>,<NA>,29,<NA>,1,<NA>,<NA>,<NA>,<NA>
-dAtA-TRoN-,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
-nils-,<NA>,2,49,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,8,<NA>,<NA>,<NA>,<NA>,12,<NA>,<NA>,<NA>,<NA>
00dani,<NA>,1,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,3,<NA>,<NA>,<NA>,<NA>,<NA>,8,<NA>,10
00void,3,425,1,<NA>,<NA>,1,<NA>,12,17,<NA>,...,6,<NA>,11,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

This is a quick way to flatten the pivoted table:

In [5]:
import pandas as pd
df_out = pd.DataFrame(play_counts_pivot_df.to_records())
df_out.head(4)

,user_name,30 Seconds to Mars,65daysofstatic,A Perfect Circle,A Tribe Called Quest,ABBA,AC/DC,Adele,Aerosmith,Air,...,ZZ Top,alt-J,blink-182,deadmau5,久石譲,川井憲次,梶浦由記,植松伸夫,菅野よう子,近藤浩治
0,-andor-,<NA>,46,<NA>,43,7,13,<NA>,4,71,...,12,<NA>,<NA>,29,<NA>,1,<NA>,<NA>,<NA>,<NA>
1,-dAtA-TRoN-,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,-nils-,<NA>,2,49,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,8,<NA>,<NA>,<NA>,<NA>,12,<NA>,<NA>,<NA>,<NA>
3,00dani,<NA>,1,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,3,<NA>,<NA>,<NA>,<NA>,<NA>,8,<NA>,10

In [6]:
df_out[df_out.user_name == "-nils-"].iloc[0]['Muse']

20

## Enrich Data

We will enrich the data from [this notebook: Enrich_top_300.ipynb](Enrich_top_300.ipynb).

The idea here is we create a tag counter. So for each of the 300 artists we create or increment the column for that croud. f three of the artists played by the contain the "rock" tag, then the value for that user tag_rock column is 3, if 4 artists have a 80s tag, then tag_80s is 4, and so on...

In [7]:
band_tags = pd.read_csv("bands_tags.csv")
band_tags.head()

,Unnamed: 0,artist_name,tag_alternative,tag_alternative rock,tag_rock,tag_indie,tag_electronic,tag_classic rock,tag_british,tag_60s,...,tag_jay z,tag_shoegazer,tag_hair metal,tag_rapcore,tag_underground hip hop,tag_symphonic black metal,tag_darkwave,tag_world,tag_latin,tag_spanish
0,0,Radiohead,True,True,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,The Beatles,False,False,True,False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,2,Pink Floyd,False,False,True,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3,Daft Punk,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4,Muse,True,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
list(band_tags.columns)[:15]

['Unnamed: 0',
 'artist_name',
 'tag_alternative',
 'tag_alternative rock',
 'tag_rock',
 'tag_indie',
 'tag_electronic',
 'tag_classic rock',
 'tag_british',
 'tag_60s',
 'tag_pop',
 'tag_progressive rock',
 'tag_psychedelic rock',
 'tag_psychedelic',
 'tag_house']

following may take awhile to run. This goes over every row in the user list (df_out) and compares every band to all the appropriate column, if it finds that that person listed to that band, it increments each tag for that artists: showing preference for those generes.

In [9]:
from collections import defaultdict

tag_for = {}
for xi, xrow in df_out.iterrows():
    tag_for[xi] = defaultdict(int)
    for index, row in band_tags.iterrows():
        if pd.notnull(xrow[row['artist_name']]):
            if xrow[row['artist_name']] > 0:
                tags = [name.lower() for name, val in row.iteritems() if "tag_" in name and val == True]
                for tag in tags:
                    tag_for[xi][tag] += 1

Add the tags with their counts to the DataFrame as additional features

In [10]:
for xi, values in tag_for.items():
    for tag_name, count in values.items():
        df_out.at[xi, tag_name] = count
        
df_out.head().to_csv("test.csv", index=False)
df_out.head()

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:1684: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self.obj[key] = infer_fill_value(value)

,user_name,30 Seconds to Mars,65daysofstatic,A Perfect Circle,A Tribe Called Quest,ABBA,AC/DC,Adele,Aerosmith,Air,...,tag_melodic metal,tag_halo,tag_game soundtracks,tag_symphonic black metal,tag_underground hip hop,tag_grindcore,tag_noisecore,tag_noisegrind,tag_comedy,tag_monkey island
0,-andor-,<NA>,46,<NA>,43,7,13,<NA>,4,71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-dAtA-TRoN-,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-nils-,<NA>,2,49,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00dani,<NA>,1,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00void,3,425,1,<NA>,<NA>,1,<NA>,12,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Set a Target column to turn this into a classification problem, if they play Beatles (even once) then label is True

In [11]:
import numpy as np
df_out['Like The Beatles'] =  df_out['The Beatles'].apply(lambda x: not pd.isnull(x))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

We need to clean up the column names as Cloud AutoML is very picky and will fail if you do things like have Unicode file names. I wish Google will fix this. I'll complain ;)

In [12]:
import csv

df_out.columns = df_out.columns.str.replace("post-roc", "post roc1")
df_out.columns = df_out.columns.str.replace("trip-hop", "trip hop1")
df_out.columns = df_out.columns.str.replace(" ", "_")
df_out.columns = df_out.columns.str.replace("/", "")
df_out.columns = df_out.columns.str.replace("é", "")
df_out.columns = df_out.columns.str.replace("ö", "o")
df_out.columns = df_out.columns.str.replace("+", "_and_")
df_out.columns = df_out.columns.str.replace("&", "and")
df_out.columns = df_out.columns.str.replace("!", "")
df_out.columns = df_out.columns.str.replace("-", "_")
df_out.columns = df_out.columns.str.replace(".", "")
df_out.columns = df_out.columns.str.replace("ó", "o")
df_out.columns = df_out.columns.str.replace("'", "")

# Japanese Artists
df_out.columns = df_out.columns.str.replace("久石譲", "Joe_Hisaishi")
df_out.columns = df_out.columns.str.replace("川井憲次", "Kenji_Kawai")
df_out.columns = df_out.columns.str.replace("梶浦由記", "Yuki_Kajiura")
df_out.columns = df_out.columns.str.replace("植松伸夫", "Nobuo_Uematsu")
df_out.columns = df_out.columns.str.replace("菅野よう子", "Yoko_Kanno")
df_out.columns = df_out.columns.str.replace("近藤浩治", "Koji_Kondo")


df_out.to_csv("file_out_2495_tags.csv", index=False)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  if __name__ == "__main__":
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  del sys.path[0]

In [13]:
!head file_out_2495_tags.csv

user_name,30_Seconds_to_Mars,65daysofstatic,A_Perfect_Circle,A_Tribe_Called_Quest,ABBA,ACDC,Adele,Aerosmith,Air,Alanis_Morissette,Alice_in_Chains,Amon_Amarth,Amon_Tobin,Amorphis,Anal_Cunt,Anathema,Animal_Collective,Aphex_Twin,Apocalyptica,Arcade_Fire,Arctic_Monkeys,Audioslave,Autechre,Avenged_Sevenfold,Avril_Lavigne,Ayreon,Bad_Religion,Beach_House,Beastie_Boys,Beck,Belle_and_Sebastian,Beyonc,Bjork,Black_Sabbath,Blind_Guardian,Bloc_Party,Blur,Boards_of_Canada,Bob_Dylan,Bob_Marley_and_The_Wailers,Bon_Iver,Bon_Jovi,Bonobo,Brand_New,Breaking_Benjamin,Brian_Eno,Britney_Spears,Broken_Social_Scene,Bruce_Springsteen,Burial,Bush,CHVRCHES,Cake,Calvin_Harris,Carly_Rae_Jepsen,Childish_Gambino,Children_of_Bodom,Cocteau_Twins,Coheed_and_Cambria,Coldplay,Cradle_of_Filth,Creedence_Clearwater_Revival,Crystal_Castles,DJ_Shadow,Daft_Punk,Dark_Tranquillity,Dave_Matthews_Band,David_Bowie,Dead_Can_Dance,Death_Cab_for_Cutie,Death_Grips,Deep_Purple,Deftones,Depeche_Mode,Dire_Straits,Disturbed,Drake,Dream_Theater,Duran_Duran,Eels,Electric_Light_Orchestra,Ellie_Goulding,Elliott_Smith,Elton_John,Eluveitie,Elvis_Presley,Eminem,Ennio_Morricone,Enter_Shikari,Enya,Evanescence,Explosions_in_the_Sky,Faith_No_More,Fall_Out_Boy,Fleet_Foxes,Fleetwood_Mac,Florence__and__the_Machine,Flying_Lotus,Foals,Foo_Fighters,Four_Tet,Frank_Ocean,Frank_Sinatra,Frank_Zappa,Franz_Ferdinand,Garbage,Genesis,God_Is_An_Astronaut,Gojira,Gorillaz,Green_Day,Grimes,Guns_N_Roses,Hans_Zimmer,Howard_Shore,Imagine_Dragons,In_Flames,Incubus,Infected_Mushroom,Interpol,Iron_Maiden,Jay_Z,Jeremy_Soule,Jimi_Hendrix,Jimmy_Eat_World,Johann_Sebastian_Bach,John_Williams,Johnny_Cash,Joy_Division,Judas_Priest,Justice,Kamelot,Kanye_West,Kasabian,Katatonia,Kate_Bush,Katy_Perry,Kendrick_Lamar,King_Crimson,Kings_of_Leon,Korn,Kraftwerk,LCD_Soundsystem,Lady_Gaga,Lana_Del_Rey,Led_Zeppelin,Limp_Bizkit,Linkin_Park,Lorde,Loreena_McKennitt,Ludwig_van_Beethoven,M83,MGMT,Madonna,Marillion,Marilyn_Manson,Marina_and_the_Diamonds,Maroon_5,Martin_ODonnell_and_Michael_Salvatori,Massive_Attack,Mastodon,Megadeth,Metallica,Metric,Michael_Jackson,Michael_Z_Land,Mike_Oldfield,Miles_Davis,Moby,Modest_Mouse,Mogwai,Motorhead,Mumford_and_Sons,Muse,My_Bloody_Valentine,My_Chemical_Romance,NOFX,Neil_Young,Neutral_Milk_Hotel,New_Order,Nick_Cave_and_The_Bad_Seeds,Nickelback,Nightwish,Nine_Inch_Nails,Nirvana,Nujabes,Oasis,Opeth,PJ_Harvey,Panic_at_the_Disco,Pantera,Papa_Roach,Paradise_Lost,Paramore,Pavement,Pearl_Jam,Pendulum,Pet_Shop_Boys,Phoenix,Pink_Floyd,Pixies,Placebo,Porcupine_Tree,Portishead,Portugal_The_Man,Queen,Queens_of_the_Stone_Age,REM,Radiohead,Rage_Against_the_Machine,Rammstein,Ramones,Ratatat,Red_Hot_Chili_Peppers,Regina_Spektor,Rihanna,Rise_Against,Run_the_Jewels,Rush,Royksopp,Scorpions,Shakira,Sia,Sigur_Ros,Simon_and_Garfunkel,Slayer,Slipknot,Slowdive,Snow_Patrol,Soilwork,Sonic_Youth,Soundgarden,Spoon,Sufjan_Stevens,Sum_41,System_of_a_Down,Talking_Heads,Tame_Impala,Taylor_Swift,Tegan_and_Sara,The_Beach_Boys,The_Beatles,The_Black_Keys,The_Chemical_Brothers,The_Clash,The_Cranberries,The_Cure,The_Decemberists,The_Doors,The_Flaming_Lips,The_Flashbulb,The_Killers,The_Kinks,The_Knife,The_Mars_Volta,The_Mountain_Goats,The_National,The_Offspring,The_Police,The_Prodigy,The_Rolling_Stones,The_Shins,The_Smashing_Pumpkins,The_Smiths,The_Strokes,The_Velvet_Underground,The_Weeknd,The_White_Stripes,The_Who,The_xx,They_Might_Be_Giants,Thievery_Corporation,Three_Days_Grace,Tom_Waits,Tool,Tori_Amos,Tycho,U2,Ulver,Vampire_Weekend,Vangelis,Venetian_Snares,Weezer,Whitesnake,Wilco,Within_Temptation,Wolfgang_Amadeus_Mozart,Yann_Tiersen,Yeah_Yeah_Yeahs,Yes,ZZ_Top,alt_J,blink_182,deadmau5,Joe_Hisaishi,Kenji_Kawai,Yuki_Kajiura,Nobuo_Uematsu,Yoko_Kanno,Koji_Kondo,tag_alternative,tag_alternative_rock,tag_rock,tag_indie,tag_electronic,tag_classic_rock,tag_british,tag_60s,tag_pop,tag_progressive_rock,tag_psychedelic_rock,tag_psychedelic,tag_house,tag_dance,tag_electronica,tag_techno,tag_seen_live,tag_industrial,tag_industrial_rock,tag_idm,tag_ambient,tag_experimental,tag_britpop,tag_hard_rock,tag_80s,tag_glam_rock,tag_funk_rock,tag_funk,tag_70s,tag_new_wave,tag_synthpop,tag_synth_pop,tag_hip_hop,tag_rap,tag_rnb,tag_kanye_west,tag_indie_rock,tag_chillout,tag_metal,tag_heavy_metal,tag_nwobhm,tag_punk_rock,tag_punk,tag_pop_punk,tag_grunge,tag_canadian,tag_90s,tag_industrial_metal,tag_german,tag_trip_hop,tag_downtempo,tag_stoner_rock,tag_progressive_metal,tag_post_punk,tag_female_vocalists,tag_indie_pop,tag_irish,tag_soundtrack,tag_instrumental,tag_classical,tag_composers,tag_star_wars,tag_progressive,tag_new_age,tag_blues,tag_icelandic,tag_post_rock,tag_folk,tag_singer_songwriter,tag_folk_rock,tag_8_bit,tag_new_rave,tag_electro,tag_ninja_tune,tag_shoegaze,tag_emo,tag_baroque,tag_political,tag_norwegian,tag_composer,tag_soundtracks,tag_ariana_grande,tag_american,tag_pop_rock,tag_lord_of_the_rings,tag_soul,tag_country,tag_big_beat,tag_freak_folk,tag_drum_and_bass,tag_drum_n_bass,tag_dnb,tag_surf,tag_swedish,tag_disco,tag_progressive_house,tag_minimal,tag_guitar,tag_piano,tag_acoustic,tag_math_rock,tag_dream_pop,tag_southern_rock,tag_turntablism,tag_jazz,tag_swing,tag_oldies,tag_vocal_jazz,tag_easy_listening,tag_trumpet,tag_fusion,tag_bebop,tag_classic,tag_romantic,tag_french,tag_reggae,tag_roots_reggae,tag_ska,tag_roots,tag_british_invasion,tag_black_metal,tag_avant_garde,tag_dubstep,tag_celtic,tag_alt_country,tag_lounge,tag_lo_fi,tag_ska_punk,tag_breakcore,tag_psytrance,tag_trance,tag_goa,tag_ethereal,tag_elephant_6,tag_hardcore,tag_post_hardcore,tag_trancecore,tag_nintendocore,tag_jam,tag_acoustic_rock,tag_japanese,tag_anime,tag_ost,tag_rock_n_roll,tag_rock_and_roll,tag_proto_punk,tag_geek_rock,tag_east_coast_rap,tag_jay_z,tag_shoegazer,tag_nu_metal,tag_rapcore,tag_hair_metal,tag_latin,tag_spanish,tag_jazz_hop,tag_blues_rock,tag_alternative_metal,tag_sludge,tag_sludge_metal,tag_death_metal,tag_progressive_death_metal,tag_gothic,tag_darkwave,tag_world,tag_video_game_music,tag_game_music,tag_nintendo,tag_final_fantasy,tag_instrumental_hip_hop,tag_thrash_metal,tag_female_vocalist,tag_speed_metal,tag_gothic_rock,tag_experimental_rap,tag_experimental_hip_hop,tag_britney_spears,tag_legend,tag_australian,tag_new_zealand,tag_eminem,tag_west_coast,tag_compton,tag_melodic_hardcore,tag_electropop,tag_randb,tag_ofwgkta,tag_italian,tag_prog_rnb,tag_gothic_metal,tag_doom_metal,tag_symphonic_metal,tag_power_metal,tag_female_fronted_metal,tag_melodic_death_metal,tag_depressive_rock,tag_j_pop,tag_atmospheric,tag_metalcore,tag_viking_metal,tag_groove_metal,tag_finnish,tag_folk_metal,tag_pagan_metal,tag_celtic_metal,tag_celtic_folk_metal,tag_orchestral,tag_melodic_metal,tag_halo,tag_game_soundtracks,tag_symphonic_black_metal,tag_underground_hip_hop,tag_grindcore,tag_noisecore,tag_noisegrind,tag_comedy,tag_monkey_island,Like_The_Beatles
-andor-,,46,,43,7,13,,4,71,,,,6,,,,16,95,,203,2,,9,,1,,1,21,50,34,58,,15,3,,18,10,72,2,3,4,,3,,,48,,21,8,15,,,1,83,,,,6,,1,,128,100,51,321,,1,405,,4,,2,,64,,,,,22,38,1,,3,14,,16,,,1,11,,24,,2,3,3,188,,2,28,9,,19,,3,6,3,88,,2,5,37,4,1,1,,,,78,11,1,31,,6,,37,1,54,11,14,269,,6,1,,,,,5,2,,86,122,,12,150,9,,,1,1,343,126,3,,3,,,,15,,,,4,22,,70,18,212,3,12,,,1,3,1,2,2,1,35,,,,83,,,3,,62,2,,,,,1,33,16,13,81,13,1,1,8,1,31,11,1,31,13,4,3,1,414,2,21,,,,2,87,,2,,58,3,,,4,1,,5,,38,1,,,149,,,25,11,106,,222,13,,27,96,20,32,1,5,51,14,4,,18,,2,49,28,27,1,31,5,28,,2,33,37,1,5,,,2,,28,1,16,52,658,3,17,1,4,,,94,28,20,12,,,29,,1,,,,,78.0,19.0,92.0,67.0,47.0,39.0,15.0,7.0,15.0,13.0,2.0,8.0,2.0,8.0,20.0,3.0,45.0,4.0,1.0,8.0,17.0,18.0,4.0,14.0,19.0,2.0,1.0,3.0,6.0,9.0,4.0,2.0,6.0,4.0,2.0,1.0,38.0,8.0,10.0,5.0,2.0,6.0,7.0,3.0,3.0,6.0,2.0,2.0,3.0,6.0,4.0,1.0,2.0,9.0,16.0,9.0,2.0,6.0,14.0,6.0,4.0,1.0,6.0,4.0,4.0,2.0,7.0,13.0,13.0,3.0,1.0,1.0,6.0,2.0,4.0,3.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,3.0,3.0,2.0,5.0,2.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,3.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,True
-dAtA-TRoN-,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1.0,1.0,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,False
-nils-,,2,49,,,,,,,,,,,,,,,,,31,3,,1,,,,,,,1,,,6,,,,,5,15,,1,,,,,27,,,3,,,,,,,,,7,,1,,,,18,,,,285,54,,,,86,13,,,,,,,,,,,,10,,,,8,,161,60,,1,,70,,,19,,,1,343,,,,19,1,8,,,13,,,,,,,2,,1,,,,15,,104,1,,,,,2,,,,,15,,,,,,,,,,,,1,,1,,,,,,,13,4,,,,5,,,1,,,34,,2,20,,15,,61,,,212,,,17,65,,1,,15,,,,,,,,,,,23,37,,,26,,,,96,38,,,,39,,,,,,70,,,,18,12,1,,,16,,,4,,,47,,16,10,,,,19,713,112,,,,38,,15,9,11,,10,,,11,,,,,4,,2,,1,,,3,8,,,11,,222,573,6,,,,,,15,11,,121,,70,10,,,8,,,,,12,,,,,44.0,15.0,50.0,32.0,17.0,19.0,9.0,6.0,3.0,7.0,2.0,3.0,,1.0,8.0,,17.0,1.0,1.0,4.0,10.0,12.0,2.0,4.0,8.0,1.0,,1.0,,4.0,1.0,1.0,3.0,1.0,,,14.0,5.0,8.0,,,1.0,1.0,,3.0,1.0,2.0,,1.0,5.0,3.0,,3.0,7.0,7.0,2.0,1.0,2.0,9.0,4.0,3.0,,2.0,1.0,4.0,2.0,5.0,10.0,13.0,3.0,,,,,2.0,1.0,1.0,,,,,,,,,1.0,1.0,,,,,,1.0,,,,,,3.0,3.0,1.0,2.0,1.0,1.0,3.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,,,,,1.0,,,,1.0,1.0,1.0,1.0,,2.0,,,,2.0,,,,,,,,1.0,1.0,1.0,1.0,1.0,,,1.0,1.0,1.0,2.0,,,,,,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,True
00dani,,1,,,,,,,,,,,,,,,,17,,,,,,,,,,2,,,,,,,,,,4,,,2,,1,,,17,,,,,,,,,65,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,7,,12,,,,1,,,3,,,,,,,2,,,,,,5,,,,,,,,,,,,13,1,,,,,,,,,,,,,1,,,,,,,,,,,21,5,,,,,,,,,,,,,,,,,,,6,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,3,,,,,,,,,,,,,,,5,,,,,,,,,,3,,,,,,,,,,,1,,,,,,1,,,,,,,,,,,1,,,,,,,,3,,,,,,,5,,,,,,,,,,20,9,,,,3,,,,,,8,,10,9.0,1.0,4.0,11.0,13.0,1.0,3.0,,1.0,,,,,,6.0,,7.0,,,5.0,7.0,8.0,,,,,,,,,,,1.0,,,,3.0,3.0,,,,1.0,2.0,1.0,,1.0,,,1.0,1.0,3.0,,,1.0,1.0,2.0,,5.0,11.0,6.0,4.0,1.0,,,,1.0,6.0,3.0,2.0,,,,,1.0,1.0,1.0,1.0,,,1.0,1.0,,,,,,,,,,,,,,,,,,2.0,2.0,1.0,1.0,,,,,,,,,,,2.0,1.0,1.0,,,,,,,,,,,,1.0,,1.0,,,,,,,,,,,,2.0,,,,,,,,,,,,,,,,,,,,,,,,,2.0,2.0,1.0,1.0,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,False
00void,3,425,1,,,1,,12,17,,440,,1,,,,649,4,,73,430,356,2,,2,,,36,,37,1,,,4,,45,164,139,21,,3,429,15,3,,,2,123,9,2,251,,,,,,,250,,439,,4,219,,3,,,849,1,580,1,1,2,122,2,,,,1,18,92,,5,2,,2,,,262,1,12,945,,4,6,3,58,,31,7,9,,180,1,55,195,,1125,,51,7,2,6,,,,,,,630,,,,5,,,,,533,,2,,2,673,,4,20,,215,1209,,,12,27,39,50,12,,4,,,227,1812,1,,83,16,,,63,,,3,3,1,,1,,3,121,503,3,149,29,215,1,,5,601,1,11,,,,25443,,368,,42,,,,,,513,6,,,12,587,127,604,1,5,1,12,241,4,115,65,,1,13,10,91,2,,,,,,,1,1579,1,,,175,133,,1556,165,16,,1,,,23,14,21,3,31,374,,29,24,1267,119,123,281,3,88,4,2,1,3,28,,1,19,5,7,3,223,96,80,,1577,533,476,,1,,8,221,,1,4,,52,,2,8,1,,,,1,4,2,6,,11,,,,,,,,83.0,26.0,100.0,71.0,36.0,37.0,17.0,7.0,20.0,13.0,3.0,8.0,1.0,9.0,15.0,2.0,42.0,2.0,,8.0,13.0,18.0,4.0,17.0,19.0,2.0,1.0,2.0,5.0,7.0,2.0,2.0,4.0,2.0,3.0,1.0,37.0,8.0,11.0,5.0,,6.0,7.0,4.0,7.0,6.0,3.0,1.0,,6.0,5.0,1.0,2.0,9.0,24.0,11.0,3.0,1.0,8.0,1.0,,,4.0,2.0,6.0,1.0,7.0,12.0,17.0,3.0,1.0,1.0,3.0,2.0,4.0,4.0,,1.0,,,,1.0,1.0,2.0,,1.0,1.0,,1.0,,,,1.0,1.0,,,,2.0,3.0,5.0,2.0,5.0,2.0,,2.0,1.0,2.0,1.0,1.0,,,,,,3.0,,,,,1.0,,,1.0,1.0,,1.0,4.0,,2.0,,,,2.0,1.0,1.0,1.0,1.0,1.0,,,,,,1.0,1.0,1.0,,,,1.0,2.0,1.0,2.0,,,,2.0,,,,,,2.0,1.0,1.0,,,,,,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,True
0ggie,3,,,58,98,,36,3,117,1,,,7,,,,1,15,,30,504,,,,,,,2,117,7,2,7,69,1,,1066,196,6,4,7,4,37,27,,1,3,111,3,5,29,1,101,1,24,2,3,,4,,30,,3,73,107,494,,1,561,,52,1,1,3,537,14,3,9,,172,7,23,43,3,52,,186,329,6,5,5,3,1,4,10,2,157,178,8,25,48,27,89,62,,11,7,13,,,348,38,103,10,3,2,10,,1,1,13,10,189,,23,3,8,1,53,158,,9,,294,306,,207,220,68,,200,,21,172,319,33,21,,50,60,,1,211,31,428,,13,2,13,,539,2,2,19,5,65,,1,1,277,247,4,1,8,334,4,1,1,9,,871,15,,,19,99,,31,,8,1,,2,9,2,1,23,33,327,10,118,127,81,,82,1,120,117,38,938,1,,13,1,11,4,57,1,,1,10,1,3,97,1,83,,,2,55,,6,1,1,10,3,,190,23,4,,44,274,3,79,131,10,757,1,9,4,,141,148,5,,,14,,123,367,76,44,15,169,7,6,24,3,164,153,3,107,1,,,7,8,102,,67,2,,5,1,,,30,,352,3,2,87,7,947,,,,,,,98.0,33.0,111.0,78.0,50.0,39.0,20.0,7.0,27.0,9.0,3.0,8.0,2.0,11.0,17.0,3.0,56.0,3.0,1.0,5.0,13.0,12.0,4.0,20.0,24.0,2.0,1.0,3.0,6.0,9.0,5.0,2.0,15.0,9.0,7.0,1.0,39.0,9.0,17.0,7.0,1.0,8.0,9.0,6.0,5.0,7.0,3.0,1.0,2.0,7.0,6.0,1.0,1.0,10.0,31.0,12.0,3.0,5.0,13.0,7.0,5.0,1.0,4.0,3.0,6.0,2.0,5.0,13.0,20.0,3.0,1.0,1.0,6.0,2.0,4.0,6.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,4.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0,4.0,6.0,1.0,5.0,2.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,1.0,,,2.0,1.0,,1.0,2.0,1.0,,1.0,1.0,1.0,1.0,,2.0,1.0,1.0,1.0,1.0,1.0,,,,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,,2.0,1.0,1.0,1.0,2.0,,1.0,1.0,1.0,,1.0,,,,,,,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,True
0lpbm,1,10,9,,,139,1,9,27,7,7,89,20,590,,144,1,44,24,28,23,9,5,5,,18,4,5,1,9,15,,46,40,18,9,16,22,60,5,9,2,1061,1,2,67,,,9,1,3,1,27,1,,,34,34,1,17,276,10,7,4,198,33,3,31,3444,14,,70,5,13,11,6,2,819,3,16,1,1,3,3,463,32,1,40,20,10,,14,27,1,14,59,15,14,7,20,8,1,8,6,14,1,20,5,24,8,6,4,6,174,652,14,56,5,6,11,663,,138,24,6,33,22,15,53,99,5,1,,7,72,14,,,73,11,10,8,8,,11,164,4,8,2,23,39,22,8,3,25,27,,2,25,53,57,116,662,14,1,,24,241,19,5,95,24,26,22,7,2,5,17,14,6,393,3,438,834,36,1,40,33,165,2,162,4,23,,4,80,1,,249,1369,7,9,3,41,11,69,9,28,29,38,107,24,27,32,36,1,,,5,61,27,,3,38,57,61,15,19,9,6,9,8,5,7,2,18,20,13,,4,6,3,47,36,12,1,86,456,161,5,4,16,1,423,1,1,189,7,20,174,545,6,6,29,10,2,3,8,27,14,5,5,13,510,4,353,14,4,917,11,566,8,13,9,1,5,44,266,7,4,3,12,5,16,32,134,37,125,311,23,111.0,38.0,129.0,79.0,52.0,44.0,20.0,7.0,18.0,20.0,3.0,9.0,2.0,9.0,20.0,3.0,69.0,4.0,1.0,8.0,19.0,21.0,4.0,26.0,22.0,2.0,1.0,2.0,5.0,8.0,4.0,2.0,9.0,3.0,5.0,,40.0,10.0,44.0,13.0,2.0,9.0,10.0,5.0,7.0,7.0,3.0,2.0,3.0,8.0,6.0,1.0,11.0,10.0,23.0,12.0,3.0,14.0,19.0,9.0,5.0,1.0,9.0,4.0,7.0,2.0,6.0,15.0,21.0,3.0,1.0,1.0,6.0,2.0,4.0,7.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,5.0,1.0,1.0,1.0,2.0,6.0,4.0,2.0,5.0,2.0,1.0,4.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,3.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,1.0,4.0,1.0,2.0,1.0,1.0,1.0,3.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,7.0,4.0,1.0,1.0,1.0,1.0,1.0,,,1.0,8.0,1.0,2.0,,,1.0,2.0,1.0,1.0,1.0,10.0,2.0,2.0,1.0,1.0,4.0,3.0,1.0,1.0,1.0,4.0,,4.0,,,,,,1.0,1.0,1.0,,,,1.0,1.0,1.0,1.0,1.0,5.0,4.0,6.0,5.0,2.0,7.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,,,,,,,True
0mega1Spawn,,,,,,,,,,,,,,,,,,,1,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,27,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,25,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,6,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,2.0,,2.0,,1.0,,,,,,,1.0,,,,,1.0,1.0,,,,,,1.0,,,,,,,,,,,,,,,3.0,,,,,,,,,1.0,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1.0,1.0,1.0,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,1.0,,,,,,,,,,,,,,,,False
1024mb,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1,,,,,,,,,,,,,,,,,,,,,1,,,,,,,,,,,,,,,,,,,,1,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,3.0,1.0,2.0,1.0,1.0,,,,,1.0,,1.0,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,,1.0,1.0,,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,False