In [1]:
import pandas as pd

# Create Data File

The data source is https://console.cloud.google.com/marketplace/details/metabrainz/listenbrainz 

We pick the top top 300 most popular artists by number of listens. The data is available thanks to BigQuery's 1TB/mo of free tier processing.

The first step is we query the data set:

In [2]:
play_counts_df = pd.read_feather("play_counts_df.feather")

In [3]:
play_counts_df.head(10)

        user_name              artist_name   cnt
0       robertovg            Kings of Leon   241
1      Cthulzilla                In Flames  1326
2    whatisbetter              Arcade Fire   681
3    Gottesdienst        The White Stripes    32
4        pronoiac  Wolfgang Amadeus Mozart   232
5           cmrda                    Drake  1050
6  Canis_L_Sapien             Fall Out Boy   138
7         nisfero                    Queen    53
8         klugrsl            Black Sabbath    55
9    PippenPaddle                    Lorde   163

## group by user by pivot the table

The value is the number of listens for each user per artist:

In [4]:
play_counts_pivot_df = play_counts_df.pivot(index='user_name', columns='artist_name', values='cnt')
play_counts_pivot_df.head()

artist_name,30 Seconds to Mars,65daysofstatic,A Perfect Circle,A Tribe Called Quest,ABBA,AC/DC,Adele,Aerosmith,Air,Alanis Morissette,...,ZZ Top,alt-J,blink-182,deadmau5,久石譲,川井憲次,梶浦由記,植松伸夫,菅野よう子,近藤浩治
user_name,,,,,,,,,,,,,,,,,,,,,
-andor-,NaN,46.0,NaN,43.0,7.0,13.0,NaN,4.0,71.0,NaN,...,12.0,NaN,NaN,29.0,NaN,1.0,NaN,NaN,NaN,NaN
-dAtA-TRoN-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-nils-,NaN,2.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN
00dani,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,8.0,NaN,10.0
00void,3.0,425.0,1.0,NaN,NaN,1.0,NaN,12.0,17.0,NaN,...,6.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This is a quick way to flatten the pivoted table:

In [5]:
import pandas as pd
df_out = pd.DataFrame(play_counts_pivot_df.to_records())
df_out.head(4)

,user_name,30 Seconds to Mars,65daysofstatic,A Perfect Circle,A Tribe Called Quest,ABBA,AC/DC,Adele,Aerosmith,Air,...,ZZ Top,alt-J,blink-182,deadmau5,久石譲,川井憲次,梶浦由記,植松伸夫,菅野よう子,近藤浩治
0,-andor-,NaN,46.0,NaN,43.0,7.0,13.0,NaN,4.0,71.0,...,12.0,NaN,NaN,29.0,NaN,1.0,NaN,NaN,NaN,NaN
1,-dAtA-TRoN-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-nils-,NaN,2.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN
3,00dani,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,8.0,NaN,10.0

In [6]:
df_out[df_out.user_name == "-nils-"].iloc[0]['Muse']

20.0

## Enrich Data

We will enrich the data from [this notebook: Enrich_top_300.ipydb](Enrich_top_300.ipydb).

The idea here is we create a tag counter. So for each of the 300 artists we create or increment the column for that croud. f three of the artists played by the contain the "rock" tag, then the value for that user tag_rock column is 3, if 4 artists have a 80s tag, then tag_80s is 4, and so on...

In [7]:
band_tags = pd.read_csv("bands_tags.csv")
band_tags.head()

,Unnamed: 0,artist_name,tag_alternative,tag_alternative rock,tag_rock,tag_indie,tag_electronic,tag_classic rock,tag_british,tag_60s,...,tag_east coast rap,tag_jay z,tag_shoegazer,tag_hair metal,tag_rapcore,tag_symphonic black metal,tag_darkwave,tag_world,tag_latin,tag_spanish
0,0,Radiohead,True,True,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,The Beatles,False,False,True,False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,2,Pink Floyd,False,False,True,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3,Daft Punk,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4,Muse,True,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
list(band_tags.columns)[:15]

['Unnamed: 0',
 'artist_name',
 'tag_alternative',
 'tag_alternative rock',
 'tag_rock',
 'tag_indie',
 'tag_electronic',
 'tag_classic rock',
 'tag_british',
 'tag_60s',
 'tag_pop',
 'tag_progressive rock',
 'tag_psychedelic rock',
 'tag_psychedelic',
 'tag_dance']

following may take awhile to run. This goes over every row in the user list (df_out) and compares every band to all the appropriate column, if it finds that that person listed to that band, it increments each tag for that artists: showing preference for those generes.

In [9]:
from collections import defaultdict

tag_for = {}
for xi, xrow in df_out.iterrows():
    tag_for[xi] = defaultdict(int)
    for index, row in band_tags.iterrows():
        if xrow[row['artist_name']] > 0:
            tags = [name.lower() for name, val in row.iteritems() if "tag_" in name and val == True]
            for tag in tags:
                tag_for[xi][tag] += 1

Add the tags with their counts to the DataFrame as additional features

In [10]:
for xi, values in tag_for.items():
    for tag_name, count in values.items():
        df_out.at[xi, tag_name] = count
        
df_out.head().to_csv("test.csv", index=False)
df_out.head()

,user_name,30 Seconds to Mars,65daysofstatic,A Perfect Circle,A Tribe Called Quest,ABBA,AC/DC,Adele,Aerosmith,Air,...,tag_celtic folk metal,tag_female fronted metal,tag_melodic metal,tag_game soundtracks,tag_melodic death metal,tag_noisegrind,tag_comedy,tag_grindcore,tag_noisecore,tag_monkey island
0,-andor-,NaN,46.0,NaN,43.0,7.0,13.0,NaN,4.0,71.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-dAtA-TRoN-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-nils-,NaN,2.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00dani,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00void,3.0,425.0,1.0,NaN,NaN,1.0,NaN,12.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Set a Target column to turn this into a classification problem, if they play Beatles (even once) then label is True

In [11]:
import numpy as np
df_out['Like The Beatles'] =  df_out['The Beatles'].apply(lambda x: not np.isnan(x))

We need to clean up the column names as Cloud AutoML is very picky and will fail if you do things like have Unicode file names. I wish Google will fix this. I'll complain ;)

In [12]:
import csv

df_out.columns = df_out.columns.str.replace("post-roc", "post roc1")
df_out.columns = df_out.columns.str.replace("trip-hop", "trip hop1")
df_out.columns = df_out.columns.str.replace(" ", "_")
df_out.columns = df_out.columns.str.replace("/", "")
df_out.columns = df_out.columns.str.replace("é", "")
df_out.columns = df_out.columns.str.replace("ö", "o")
df_out.columns = df_out.columns.str.replace("+", "_and_")
df_out.columns = df_out.columns.str.replace("&", "and")
df_out.columns = df_out.columns.str.replace("!", "")
df_out.columns = df_out.columns.str.replace("-", "_")
df_out.columns = df_out.columns.str.replace(".", "")
df_out.columns = df_out.columns.str.replace("ó", "o")
df_out.columns = df_out.columns.str.replace("'", "")

# Japanese Artists
df_out.columns = df_out.columns.str.replace("久石譲", "Joe_Hisaishi")
df_out.columns = df_out.columns.str.replace("川井憲次", "Kenji_Kawai")
df_out.columns = df_out.columns.str.replace("梶浦由記", "Yuki_Kajiura")
df_out.columns = df_out.columns.str.replace("植松伸夫", "Nobuo_Uematsu")
df_out.columns = df_out.columns.str.replace("菅野よう子", "Yoko_Kanno")
df_out.columns = df_out.columns.str.replace("近藤浩治", "Koji_Kondo")


df_out.to_csv("file_out_2495_tags.csv", index=False)

In [13]:
!head file_out_2495_tags.csv

user_name,30_Seconds_to_Mars,65daysofstatic,A_Perfect_Circle,A_Tribe_Called_Quest,ABBA,ACDC,Adele,Aerosmith,Air,Alanis_Morissette,Alice_in_Chains,Amon_Amarth,Amon_Tobin,Amorphis,Anal_Cunt,Anathema,Animal_Collective,Aphex_Twin,Apocalyptica,Arcade_Fire,Arctic_Monkeys,Audioslave,Autechre,Avenged_Sevenfold,Avril_Lavigne,Ayreon,Bad_Religion,Beach_House,Beastie_Boys,Beck,Belle_and_Sebastian,Beyonc,Bjork,Black_Sabbath,Blind_Guardian,Bloc_Party,Blur,Boards_of_Canada,Bob_Dylan,Bob_Marley_and_The_Wailers,Bon_Iver,Bon_Jovi,Bonobo,Brand_New,Breaking_Benjamin,Brian_Eno,Britney_Spears,Broken_Social_Scene,Bruce_Springsteen,Burial,Bush,CHVRCHES,Cake,Calvin_Harris,Carly_Rae_Jepsen,Childish_Gambino,Children_of_Bodom,Cocteau_Twins,Coheed_and_Cambria,Coldplay,Cradle_of_Filth,Creedence_Clearwater_Revival,Crystal_Castles,DJ_Shadow,Daft_Punk,Dark_Tranquillity,Dave_Matthews_Band,David_Bowie,Dead_Can_Dance,Death_Cab_for_Cutie,Death_Grips,Deep_Purple,Deftones,Depeche_Mode,Dire_Straits,Disturbed,Drake,Dream_Theater,Duran_Duran,Eels,Electric_Light_Orchestra,Ellie_Goulding,Elliott_Smith,Elton_John,Eluveitie,Elvis_Presley,Eminem,Ennio_Morricone,Enter_Shikari,Enya,Evanescence,Explosions_in_the_Sky,Faith_No_More,Fall_Out_Boy,Fleet_Foxes,Fleetwood_Mac,Florence__and__the_Machine,Flying_Lotus,Foals,Foo_Fighters,Four_Tet,Frank_Ocean,Frank_Sinatra,Frank_Zappa,Franz_Ferdinand,Garbage,Genesis,God_Is_An_Astronaut,Gojira,Gorillaz,Green_Day,Grimes,Guns_N_Roses,Hans_Zimmer,Howard_Shore,Imagine_Dragons,In_Flames,Incubus,Infected_Mushroom,Interpol,Iron_Maiden,Jay_Z,Jeremy_Soule,Jimi_Hendrix,Jimmy_Eat_World,Johann_Sebastian_Bach,John_Williams,Johnny_Cash,Joy_Division,Judas_Priest,Justice,Kamelot,Kanye_West,Kasabian,Katatonia,Kate_Bush,Katy_Perry,Kendrick_Lamar,King_Crimson,Kings_of_Leon,Korn,Kraftwerk,LCD_Soundsystem,Lady_Gaga,Lana_Del_Rey,Led_Zeppelin,Limp_Bizkit,Linkin_Park,Lorde,Loreena_McKennitt,Ludwig_van_Beethoven,M83,MGMT,Madonna,Marillion,Marilyn_Manson,Marina_and_the_Diamonds,Maroon_5,Martin_ODonnell_and_Michael_Salvatori,Massive_Attack,Mastodon,Megadeth,Metallica,Metric,Michael_Jackson,Michael_Z_Land,Mike_Oldfield,Miles_Davis,Moby,Modest_Mouse,Mogwai,Motorhead,Mumford_and_Sons,Muse,My_Bloody_Valentine,My_Chemical_Romance,NOFX,Neil_Young,Neutral_Milk_Hotel,New_Order,Nick_Cave_and_The_Bad_Seeds,Nickelback,Nightwish,Nine_Inch_Nails,Nirvana,Nujabes,Oasis,Opeth,PJ_Harvey,Panic_at_the_Disco,Pantera,Papa_Roach,Paradise_Lost,Paramore,Pavement,Pearl_Jam,Pendulum,Pet_Shop_Boys,Phoenix,Pink_Floyd,Pixies,Placebo,Porcupine_Tree,Portishead,Portugal_The_Man,Queen,Queens_of_the_Stone_Age,REM,Radiohead,Rage_Against_the_Machine,Rammstein,Ramones,Ratatat,Red_Hot_Chili_Peppers,Regina_Spektor,Rihanna,Rise_Against,Run_the_Jewels,Rush,Royksopp,Scorpions,Shakira,Sia,Sigur_Ros,Simon_and_Garfunkel,Slayer,Slipknot,Slowdive,Snow_Patrol,Soilwork,Sonic_Youth,Soundgarden,Spoon,Sufjan_Stevens,Sum_41,System_of_a_Down,Talking_Heads,Tame_Impala,Taylor_Swift,Tegan_and_Sara,The_Beach_Boys,The_Beatles,The_Black_Keys,The_Chemical_Brothers,The_Clash,The_Cranberries,The_Cure,The_Decemberists,The_Doors,The_Flaming_Lips,The_Flashbulb,The_Killers,The_Kinks,The_Knife,The_Mars_Volta,The_Mountain_Goats,The_National,The_Offspring,The_Police,The_Prodigy,The_Rolling_Stones,The_Shins,The_Smashing_Pumpkins,The_Smiths,The_Strokes,The_Velvet_Underground,The_Weeknd,The_White_Stripes,The_Who,The_xx,They_Might_Be_Giants,Thievery_Corporation,Three_Days_Grace,Tom_Waits,Tool,Tori_Amos,Tycho,U2,Ulver,Vampire_Weekend,Vangelis,Venetian_Snares,Weezer,Whitesnake,Wilco,Within_Temptation,Wolfgang_Amadeus_Mozart,Yann_Tiersen,Yeah_Yeah_Yeahs,Yes,ZZ_Top,alt_J,blink_182,deadmau5,Joe_Hisaishi,Kenji_Kawai,Yuki_Kajiura,Nobuo_Uematsu,Yoko_Kanno,Koji_Kondo,tag_industrial,tag_new_rave,tag_freak_folk,tag_drum_n_bass,tag_electronic,tag_easy_listening,tag_reggae,tag_hardcore,tag_new_age,tag_icelandic,tag_punk_rock,tag_oldies,tag_acoustic_rock,tag_fusion,tag_latin,tag_disco,tag_britpop,tag_goa,tag_ska_punk,tag_ska,tag_heavy_metal,tag_canadian,tag_minimal,tag_rock,tag_surf,tag_instrumental,tag_shoegazer,tag_alt_country,tag_nu_metal,tag_jay_z,tag_glam_rock,tag_techno,tag_spanish,tag_progressive_metal,tag_trancecore,tag_female_vocalists,tag_ost,tag_funk_rock,tag_punk,tag_geek_rock,tag_idm,tag_guitar,tag_dubstep,tag_8_bit,tag_70s,tag_nickelodeon,tag_industrial_metal,tag_indie_rock,tag_british,tag_downtempo,tag_east_coast_rap,tag_dnb,tag_hip_hop,tag_ambient,tag_synth_pop,tag_lo_fi,tag_elephant_6,tag_country,tag_political,tag_blues,tag_dream_pop,tag_pop_rock,tag_psychedelic_rock,tag_90s,tag_classic_rock,tag_star_wars,tag_synthpop,tag_pop_punk,tag_nintendocore,tag_electronica,tag_psytrance,tag_acoustic,tag_turntablism,tag_kanye_west,tag_irish,tag_pop,tag_trance,tag_roots_reggae,tag_japanese,tag_drum_and_bass,tag_post_rock,tag_french,tag_chillout,tag_80s,tag_swing,tag_roots,tag_rapcore,tag_industrial_rock,tag_hair_metal,tag_black_metal,tag_math_rock,tag_blues_rock,tag_rnb,tag_composer,tag_german,tag_hard_rock,tag_trumpet,tag_metal,tag_avant_garde,tag_dance,tag_rock_and_roll,tag_electro,tag_progressive,tag_psychedelic,tag_jam,tag_progressive_rock,tag_southern_rock,tag_post_punk,tag_new_wave,tag_classical,tag_rock_n_roll,tag_soul,tag_vocal_jazz,tag_lord_of_the_rings,tag_soundtrack,tag_norwegian,tag_60s,tag_ethereal,tag_folk,tag_piano,tag_shoegaze,tag_singer_songwriter,tag_seen_live,tag_ariana_grande,tag_indie_pop,tag_jazz_hop,tag_british_invasion,tag_ninja_tune,tag_experimental,tag_swedish,tag_stoner_rock,tag_classic,tag_trip_hop,tag_anime,tag_bebop,tag_breakcore,tag_big_beat,tag_jazz,tag_progressive_house,tag_proto_punk,tag_post_hardcore,tag_rap,tag_grunge,tag_lounge,tag_alternative,tag_composers,tag_folk_rock,tag_house,tag_baroque,tag_funk,tag_emo,tag_alternative_rock,tag_celtic,tag_nwobhm,tag_romantic,tag_soundtracks,tag_indie,tag_sludge_metal,tag_alternative_metal,tag_death_metal,tag_darkwave,tag_sludge,tag_gothic,tag_world,tag_progressive_death_metal,tag_nintendo,tag_final_fantasy,tag_game_music,tag_instrumental_hip_hop,tag_video_game_music,tag_gothic_rock,tag_australian,tag_experimental_rap,tag_female_vocalist,tag_experimental_hip_hop,tag_new_zealand,tag_speed_metal,tag_britney_spears,tag_legend,tag_thrash_metal,tag_melodic_hardcore,tag_gothic_metal,tag_compton,tag_randb,tag_west_coast,tag_eminem,tag_ofwgkta,tag_italian,tag_electropop,tag_prog_rnb,tag_doom_metal,tag_underground_hip_hop,tag_celtic_metal,tag_pagan_metal,tag_folk_metal,tag_power_metal,tag_metalcore,tag_groove_metal,tag_halo,tag_j_pop,tag_depressive_rock,tag_finnish,tag_symphonic_metal,tag_symphonic_black_metal,tag_atmospheric,tag_viking_metal,tag_orchestral,tag_celtic_folk_metal,tag_female_fronted_metal,tag_melodic_metal,tag_game_soundtracks,tag_melodic_death_metal,tag_noisegrind,tag_comedy,tag_grindcore,tag_noisecore,tag_monkey_island,Like_The_Beatles
-andor-,,46.0,,43.0,7.0,13.0,,4.0,71.0,,,,6.0,,,,16.0,95.0,,203.0,2.0,,9.0,,1.0,,1.0,21.0,50.0,34.0,58.0,,15.0,3.0,,18.0,10.0,72.0,2.0,3.0,4.0,,3.0,,,48.0,,21.0,8.0,15.0,,,1.0,83.0,,,,6.0,,1.0,,128.0,100.0,51.0,321.0,,1.0,405.0,,4.0,,2.0,,64.0,,,,,22.0,38.0,1.0,,3.0,14.0,,16.0,,,1.0,11.0,,24.0,,2.0,3.0,3.0,188.0,,2.0,28.0,9.0,,19.0,,3.0,6.0,3.0,88.0,,2.0,5.0,37.0,4.0,1.0,1.0,,,,78.0,11.0,1.0,31.0,,6.0,,37.0,1.0,54.0,11.0,14.0,269.0,,6.0,1.0,,,,,5.0,2.0,,86.0,122.0,,12.0,150.0,9.0,,,1.0,1.0,343.0,126.0,3.0,,3.0,,,,15.0,,,,4.0,22.0,,70.0,18.0,212.0,3.0,12.0,,,1.0,3.0,1.0,2.0,2.0,1.0,35.0,,,,83.0,,,3.0,,62.0,2.0,,,,,1.0,33.0,16.0,13.0,81.0,13.0,1.0,1.0,8.0,1.0,31.0,11.0,1.0,31.0,13.0,4.0,3.0,1.0,414.0,2.0,21.0,,,,2.0,87.0,,2.0,,58.0,3.0,,,4.0,1.0,,5.0,,38.0,1.0,,,149.0,,,25.0,11.0,106.0,,222.0,13.0,,27.0,96.0,20.0,32.0,1.0,5.0,51.0,14.0,4.0,,18.0,,2.0,49.0,28.0,27.0,1.0,31.0,5.0,28.0,,2.0,33.0,37.0,1.0,5.0,,,2.0,,28.0,1.0,16.0,52.0,658.0,3.0,17.0,1.0,4.0,,,94.0,28.0,20.0,12.0,,,29.0,,1.0,,,,,4.0,1.0,1.0,1.0,47.0,1.0,1.0,1.0,4.0,2.0,6.0,2.0,1.0,1.0,1.0,2.0,4.0,1.0,1.0,2.0,5.0,6.0,1.0,92.0,1.0,14.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,2.0,1.0,16.0,1.0,1.0,7.0,1.0,8.0,1.0,1.0,1.0,6.0,1.0,2.0,38.0,15.0,4.0,1.0,1.0,6.0,17.0,2.0,4.0,1.0,1.0,2.0,4.0,5.0,1.0,2.0,2.0,39.0,1.0,4.0,3.0,1.0,20.0,1.0,3.0,1.0,1.0,2.0,15.0,1.0,1.0,1.0,1.0,7.0,3.0,8.0,19.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0,3.0,14.0,1.0,10.0,1.0,8.0,1.0,6.0,6.0,8.0,1.0,13.0,2.0,9.0,9.0,6.0,1.0,1.0,1.0,1.0,6.0,1.0,7.0,2.0,13.0,3.0,4.0,13.0,44.0,1.0,9.0,1.0,1.0,2.0,18.0,2.0,1.0,1.0,6.0,1.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,4.0,3.0,1.0,78.0,4.0,3.0,2.0,1.0,3.0,3.0,19.0,2.0,2.0,1.0,1.0,67.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,True
-dAtA-TRoN-,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,False
-nils-,,2.0,49.0,,,,,,,,,,,,,,,,,31.0,3.0,,1.0,,,,,,,1.0,,,6.0,,,,,5.0,15.0,,1.0,,,,,27.0,,,3.0,,,,,,,,,7.0,,1.0,,,,18.0,,,,285.0,54.0,,,,86.0,13.0,,,,,,,,,,,,10.0,,,,8.0,,161.0,60.0,,1.0,,70.0,,,19.0,,,1.0,343.0,,,,19.0,1.0,8.0,,,13.0,,,,,,,2.0,,1.0,,,,15.0,,104.0,1.0,,,,,2.0,,,,,15.0,,,,,,,,,,,,1.0,,1.0,,,,,,,13.0,4.0,,,,5.0,,,1.0,,,34.0,,2.0,20.0,,15.0,,61.0,,,212.0,,,17.0,65.0,,1.0,,15.0,,,,,,,,,,,23.0,37.0,,,26.0,,,,96.0,38.0,,,,39.0,,,,,,70.0,,,,18.0,12.0,1.0,,,16.0,,,4.0,,,47.0,,16.0,10.0,,,,19.0,713.0,112.0,,,,38.0,,15.0,9.0,11.0,,10.0,,,11.0,,,,,4.0,,2.0,,1.0,,,3.0,8.0,,,11.0,,222.0,573.0,6.0,,,,,,15.0,11.0,,121.0,,70.0,10.0,,,8.0,,,,,12.0,,,,,1.0,,,,17.0,1.0,,,1.0,2.0,1.0,2.0,,1.0,,,2.0,,,,,1.0,,50.0,1.0,9.0,1.0,1.0,2.0,1.0,1.0,,,3.0,,7.0,1.0,,1.0,,4.0,,,,,,,14.0,9.0,3.0,1.0,,3.0,10.0,1.0,2.0,,1.0,,4.0,2.0,,2.0,2.0,19.0,,1.0,,,8.0,,3.0,1.0,,1.0,3.0,,,1.0,,5.0,1.0,5.0,8.0,1.0,,,1.0,,,1.0,2.0,,,1.0,4.0,1.0,8.0,,1.0,1.0,,2.0,3.0,,7.0,1.0,7.0,4.0,4.0,1.0,1.0,1.0,,2.0,,6.0,2.0,10.0,3.0,2.0,13.0,16.0,,2.0,,1.0,,12.0,,,2.0,5.0,1.0,1.0,2.0,,3.0,,,,1.0,3.0,1.0,44.0,3.0,3.0,,1.0,1.0,1.0,15.0,1.0,,1.0,,32.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,True
00dani,,1.0,,,,,,,,,,,,,,,,17.0,,,,,,,,,,2.0,,,,,,,,,,4.0,,,2.0,,1.0,,,17.0,,,,,,,,,65.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,7.0,,12.0,,,,1.0,,,3.0,,,,,,,2.0,,,,,,5.0,,,,,,,,,,,,13.0,1.0,,,,,,,,,,,,,1.0,,,,,,,,,,,21.0,5.0,,,,,,,,,,,,,,,,,,,6.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,3.0,,,,,,,,,,,,,,,5.0,,,,,,,,,,3.0,,,,,,,,,,,1.0,,,,,,1.0,,,,,,,,,,,1.0,,,,,,,,3.0,,,,,,,5.0,,,,,,,,,,20.0,9.0,,,,3.0,,,,,,8.0,,10.0,,,,,13.0,,,,,1.0,1.0,,,,,,,,,,,1.0,,4.0,,11.0,,,,,,,,,,1.0,,,2.0,,5.0,,,,,,,3.0,3.0,3.0,,,1.0,7.0,,2.0,,,,,1.0,,,,1.0,1.0,,1.0,,6.0,,2.0,,,,1.0,,,2.0,,6.0,1.0,3.0,,,,,,,,1.0,,,1.0,1.0,,,,,,,,,,,,,1.0,,6.0,,,,,5.0,,,,3.0,2.0,1.0,2.0,6.0,,2.0,,,1.0,8.0,,,2.0,1.0,,,1.0,,,,,,,,,9.0,4.0,,,1.0,,1.0,1.0,,,1.0,1.0,11.0,,,,,,,,,1.0,1.0,2.0,1.0,2.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,False
00void,3.0,425.0,1.0,,,1.0,,12.0,17.0,,440.0,,1.0,,,,649.0,4.0,,73.0,430.0,356.0,2.0,,2.0,,,36.0,,37.0,1.0,,,4.0,,45.0,164.0,139.0,21.0,,3.0,429.0,15.0,3.0,,,2.0,123.0,9.0,2.0,251.0,,,,,,,250.0,,439.0,,4.0,219.0,,3.0,,,849.0,1.0,580.0,1.0,1.0,2.0,122.0,2.0,,,,1.0,18.0,92.0,,5.0,2.0,,2.0,,,262.0,1.0,12.0,945.0,,4.0,6.0,3.0,58.0,,31.0,7.0,9.0,,180.0,1.0,55.0,195.0,,1125.0,,51.0,7.0,2.0,6.0,,,,,,,630.0,,,,5.0,,,,,533.0,,2.0,,2.0,673.0,,4.0,20.0,,215.0,1209.0,,,12.0,27.0,39.0,50.0,12.0,,4.0,,,227.0,1812.0,1.0,,83.0,16.0,,,63.0,,,3.0,3.0,1.0,,1.0,,3.0,121.0,503.0,3.0,149.0,29.0,215.0,1.0,,5.0,601.0,1.0,11.0,,,,25443.0,,368.0,,42.0,,,,,,513.0,6.0,,,12.0,587.0,127.0,604.0,1.0,5.0,1.0,12.0,241.0,4.0,115.0,65.0,,1.0,13.0,10.0,91.0,2.0,,,,,,,1.0,1579.0,1.0,,,175.0,133.0,,1556.0,165.0,16.0,,1.0,,,23.0,14.0,21.0,3.0,31.0,374.0,,29.0,24.0,1267.0,119.0,123.0,281.0,3.0,88.0,4.0,2.0,1.0,3.0,28.0,,1.0,19.0,5.0,7.0,3.0,223.0,96.0,80.0,,1577.0,533.0,476.0,,1.0,,8.0,221.0,,1.0,4.0,,52.0,,2.0,8.0,1.0,,,,1.0,4.0,2.0,6.0,,11.0,,,,,,,,2.0,1.0,1.0,,36.0,1.0,,1.0,2.0,1.0,6.0,2.0,,,,,4.0,,,,5.0,6.0,,100.0,1.0,8.0,1.0,,2.0,,2.0,2.0,,2.0,1.0,24.0,,1.0,7.0,,8.0,2.0,1.0,1.0,5.0,1.0,1.0,37.0,17.0,5.0,,,4.0,13.0,2.0,5.0,1.0,1.0,1.0,6.0,5.0,2.0,3.0,3.0,37.0,,2.0,4.0,1.0,15.0,,5.0,,1.0,3.0,20.0,,,,,7.0,3.0,8.0,19.0,1.0,,1.0,,2.0,,2.0,2.0,3.0,,,17.0,,11.0,,9.0,1.0,3.0,4.0,8.0,,13.0,2.0,9.0,7.0,1.0,1.0,1.0,1.0,,1.0,,7.0,2.0,12.0,3.0,4.0,17.0,41.0,1.0,11.0,,1.0,2.0,18.0,1.0,1.0,,6.0,,,2.0,,2.0,,1.0,1.0,2.0,7.0,1.0,83.0,,3.0,1.0,,2.0,4.0,26.0,1.0,,,,71.0,,,,1.0,,2.0,1.0,,,,,,,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,True
0ggie,3.0,,,58.0,98.0,,36.0,3.0,117.0,1.0,,,7.0,,,,1.0,15.0,,30.0,504.0,,,,,,,2.0,117.0,7.0,2.0,7.0,69.0,1.0,,1066.0,196.0,6.0,4.0,7.0,4.0,37.0,27.0,,1.0,3.0,111.0,3.0,5.0,29.0,1.0,101.0,1.0,24.0,2.0,3.0,,4.0,,30.0,,3.0,73.0,107.0,494.0,,1.0,561.0,,52.0,1.0,1.0,3.0,537.0,14.0,3.0,9.0,,172.0,7.0,23.0,43.0,3.0,52.0,,186.0,329.0,6.0,5.0,5.0,3.0,1.0,4.0,10.0,2.0,157.0,178.0,8.0,25.0,48.0,27.0,89.0,62.0,,11.0,7.0,13.0,,,348.0,38.0,103.0,10.0,3.0,2.0,10.0,,1.0,1.0,13.0,10.0,189.0,,23.0,3.0,8.0,1.0,53.0,158.0,,9.0,,294.0,306.0,,207.0,220.0,68.0,,200.0,,21.0,172.0,319.0,33.0,21.0,,50.0,60.0,,1.0,211.0,31.0,428.0,,13.0,2.0,13.0,,539.0,2.0,2.0,19.0,5.0,65.0,,1.0,1.0,277.0,247.0,4.0,1.0,8.0,334.0,4.0,1.0,1.0,9.0,,871.0,15.0,,,19.0,99.0,,31.0,,8.0,1.0,,2.0,9.0,2.0,1.0,23.0,33.0,327.0,10.0,118.0,127.0,81.0,,82.0,1.0,120.0,117.0,38.0,938.0,1.0,,13.0,1.0,11.0,4.0,57.0,1.0,,1.0,10.0,1.0,3.0,97.0,1.0,83.0,,,2.0,55.0,,6.0,1.0,1.0,10.0,3.0,,190.0,23.0,4.0,,44.0,274.0,3.0,79.0,131.0,10.0,757.0,1.0,9.0,4.0,,141.0,148.0,5.0,,,14.0,,123.0,367.0,76.0,44.0,15.0,169.0,7.0,6.0,24.0,3.0,164.0,153.0,3.0,107.0,1.0,,,7.0,8.0,102.0,,67.0,2.0,,5.0,1.0,,,30.0,,352.0,3.0,2.0,87.0,7.0,947.0,,,,,,,3.0,1.0,1.0,1.0,50.0,1.0,1.0,2.0,3.0,2.0,8.0,2.0,1.0,1.0,1.0,2.0,4.0,1.0,1.0,2.0,7.0,7.0,1.0,112.0,1.0,13.0,1.0,,4.0,1.0,2.0,3.0,1.0,1.0,1.0,31.0,,1.0,9.0,1.0,5.0,2.0,2.0,1.0,6.0,1.0,1.0,39.0,20.0,6.0,1.0,1.0,15.0,13.0,2.0,3.0,,2.0,1.0,6.0,5.0,2.0,3.0,3.0,39.0,1.0,5.0,6.0,1.0,17.0,1.0,6.0,1.0,1.0,3.0,27.0,1.0,1.0,,1.0,5.0,2.0,9.0,24.0,1.0,1.0,,1.0,2.0,,1.0,2.0,7.0,2.0,2.0,20.0,1.0,17.0,,11.0,1.0,6.0,4.0,8.0,1.0,9.0,2.0,10.0,9.0,7.0,1.0,4.0,1.0,1.0,5.0,1.0,7.0,1.0,13.0,4.0,4.0,20.0,54.0,1.0,12.0,1.0,1.0,2.0,12.0,2.0,1.0,2.0,7.0,,1.0,,1.0,2.0,1.0,1.0,1.0,9.0,5.0,1.0,98.0,5.0,3.0,2.0,1.0,3.0,6.0,33.0,1.0,1.0,1.0,1.0,78.0,1.0,,1.0,,1.0,1.0,,,,,,1.0,,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,True
0lpbm,1.0,10.0,9.0,,,139.0,1.0,9.0,27.0,7.0,7.0,89.0,20.0,590.0,,144.0,1.0,44.0,24.0,28.0,23.0,9.0,5.0,5.0,,18.0,4.0,5.0,1.0,9.0,15.0,,46.0,40.0,18.0,9.0,16.0,22.0,60.0,5.0,9.0,2.0,1061.0,1.0,2.0,67.0,,,9.0,1.0,3.0,1.0,27.0,1.0,,,34.0,34.0,1.0,17.0,276.0,10.0,7.0,4.0,198.0,33.0,3.0,31.0,3444.0,14.0,,70.0,5.0,13.0,11.0,6.0,2.0,819.0,3.0,16.0,1.0,1.0,3.0,3.0,463.0,32.0,1.0,40.0,20.0,10.0,,14.0,27.0,1.0,14.0,59.0,15.0,14.0,7.0,20.0,8.0,1.0,8.0,6.0,14.0,1.0,20.0,5.0,24.0,8.0,6.0,4.0,6.0,174.0,652.0,14.0,56.0,5.0,6.0,11.0,663.0,,138.0,24.0,6.0,33.0,22.0,15.0,53.0,99.0,5.0,1.0,,7.0,72.0,14.0,,,73.0,11.0,10.0,8.0,8.0,,11.0,164.0,4.0,8.0,2.0,23.0,39.0,22.0,8.0,3.0,25.0,27.0,,2.0,25.0,53.0,57.0,116.0,662.0,14.0,1.0,,24.0,241.0,19.0,5.0,95.0,24.0,26.0,22.0,7.0,2.0,5.0,17.0,14.0,6.0,393.0,3.0,438.0,834.0,36.0,1.0,40.0,33.0,165.0,2.0,162.0,4.0,23.0,,4.0,80.0,1.0,,249.0,1369.0,7.0,9.0,3.0,41.0,11.0,69.0,9.0,28.0,29.0,38.0,107.0,24.0,27.0,32.0,36.0,1.0,,,5.0,61.0,27.0,,3.0,38.0,57.0,61.0,15.0,19.0,9.0,6.0,9.0,8.0,5.0,7.0,2.0,18.0,20.0,13.0,,4.0,6.0,3.0,47.0,36.0,12.0,1.0,86.0,456.0,161.0,5.0,4.0,16.0,1.0,423.0,1.0,1.0,189.0,7.0,20.0,174.0,545.0,6.0,6.0,29.0,10.0,2.0,3.0,8.0,27.0,14.0,5.0,5.0,13.0,510.0,4.0,353.0,14.0,4.0,917.0,11.0,566.0,8.0,13.0,9.0,1.0,5.0,44.0,266.0,7.0,4.0,3.0,12.0,5.0,16.0,32.0,134.0,37.0,125.0,311.0,23.0,4.0,1.0,1.0,1.0,52.0,1.0,1.0,2.0,4.0,2.0,9.0,2.0,1.0,1.0,,1.0,4.0,1.0,1.0,2.0,13.0,7.0,1.0,129.0,1.0,19.0,1.0,1.0,8.0,,2.0,3.0,,11.0,1.0,23.0,1.0,1.0,10.0,1.0,8.0,2.0,2.0,1.0,5.0,1.0,2.0,40.0,20.0,6.0,,1.0,9.0,19.0,2.0,5.0,1.0,1.0,2.0,7.0,5.0,1.0,3.0,3.0,44.0,1.0,4.0,5.0,1.0,20.0,1.0,4.0,1.0,,3.0,18.0,1.0,1.0,7.0,1.0,6.0,3.0,10.0,22.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,5.0,2.0,3.0,26.0,1.0,44.0,1.0,9.0,1.0,6.0,9.0,9.0,1.0,20.0,2.0,10.0,8.0,10.0,1.0,3.0,1.0,1.0,14.0,1.0,7.0,3.0,15.0,5.0,4.0,21.0,68.0,1.0,12.0,1.0,1.0,2.0,21.0,5.0,1.0,2.0,8.0,4.0,1.0,2.0,1.0,4.0,1.0,1.0,1.0,3.0,7.0,1.0,111.0,5.0,3.0,2.0,1.0,2.0,7.0,38.0,2.0,2.0,1.0,1.0,79.0,1.0,1.0,10.0,1.0,1.0,2.0,1.0,2.0,1.0,1.0,3.0,1.0,4.0,,1.0,,,,1.0,4.0,,,4.0,,5.0,,1.0,,1.0,1.0,1.0,1.0,1.0,4.0,,1.0,1.0,1.0,5.0,1.0,1.0,1.0,2.0,1.0,2.0,6.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,7.0,,,,,,True
0mega1Spawn,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,27.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,25.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,6.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1.0,,,,1.0,,,,,,,,,,,,,1.0,,,,,,2.0,,1.0,,,1.0,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,1.0,,,,,,1.0,,,,,,,,,,,,,,,,,,,1.0,,3.0,,,,,,1.0,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,2.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1.0,1.0,,,,,,,,,,,,,,,False
1024mb,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,2.0,,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1.0,,1.0,,,,,,,,,,,,,,,,,1.0,,1.0,,,,,,,,,,,,,,,,,,,,3.0,,,,,,1.0,1.0,,,,,1.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,False